@model IEnumerable<Infraestructura.Models.TipoServicio>

@{
    ViewBag.Title = "ClienteServicio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="Glass" style="color:#0d4456">

    <div class="card-body">


        <div class="row-mb-3">
            <h2>Información de servicios</h2>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                </tr>
            }

        </table>
        </div>
</div>