@{
    ViewBag.Title = "Acerca De";
}

<div class="Glass" style="color:#0d4456">
    <div class="card-body">

        <h3>Información de Contacto</h3>

            <p style="font-size:large; text-align:justify">
                Home Booking es una página creada específicamente para el alquiler de casas para vacacionar
                en las zonas más bellas y tranquilas del país, contamos con una gran variedad de casas, desde casas en la playa como en la montaña
                todas equipadas con muebles, zonas verdes y utensilios.
            </p>

        <table class="table">
            <tr>
                <th>Nombre </th>
                <th>Sitio Web</th>
                <th>Teléfono</th>
                <th>Correo</th>

            </tr>

            <tr>
                <td>Hoome-Booking</td>
                <td>HomeBooking.com</td>
                <td>86636125</td>
                <td>Home_Booking@gmail.com</td>
            </tr>

        </table>

        <h3>Información del Equipo</h3>
        <table class="table">
            <tr>
                <th>Nombre </th>
                <th>Apellidos</th>

            </tr>

            <tr>
                <td>Braulio</td>
                <td>Bolaños Sibaja</td>
            </tr>

            <tr>
                <td>Leonardo</td>
                <td>Quesada Rojas</td>
            </tr>

        </table>
    </div>
    <br />

</div>