@model Infraestructura.Models.Reserva

@{
    ViewBag.Title = "GraficoPedido";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br>
<center>
    <h2 style="font-style:oblique">Grafico de las Reservas</h2>
</center>
<br>
<br>
<br>
<br>
<div class="col">
    <canvas id="bar_chart" width="400" height="400"></canvas>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0%22%3E</script>
    <script src="~/Scripts/graficoChartJS.js"></script>
    <script type="text/javascript">
        var repArray =@Html.Raw(Json.Encode(ViewBag.rep));
        var pedidos =@Html.Raw(Json.Encode(ViewBag.pedidos));
        grafico(pedidos, repArray);
    </script>

}
